<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title></title>
  <meta name="description" content="" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="/index.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap" />
</head>

<body>
  <div class="header-div">
    <img class="background-icon" alt="" src="images/background.svg" /><img class="saly-3d-illustration-pack-f" alt=""
      src="images/consultation-medicine-healthcare-care-online-conference-concept-doctor-communicates-online-with-patient-writes-prescription-makes-video-call_558570-153.png" /><button
      class="bittpn-small-button">
      <div class="get-started-div"><a style="text-decoration: none;color:inherit;" href="/dashboard">Sign-in</a>
      </div>
    </button>
    <div class="frame-div"></div>
    <div class="group-div">
      <div class="introducing-the-metaverse">
        <p class="introducing-p">Introducing</p>
        <p class="the-metaverse-p">Med-Profile</p>
      </div>
      <div class="for-marketplace-sellers-lookin">
        Your one stop platform for all your Medical Background.
      </div>
      <div class="frame-div1">
        <div class="frame-div2">
          <img class="email-black-24dp-1-1" src="images/email-black-24dp-1-1.svg" />
          <div class="your-email-address">Click To Register</div>
        </div>
        <button class="frame-button">
          <div class="get-early-access"><a style="text-decoration: none; color: inherit;" href="/dashboard"> Get
              Started</a></div>
        </button>
      </div>
    </div>
    <img class="logo-icon" alt="" src="images/medlife.jpeg" />
  </div>

  <br />
  <br />
  <br />
  <div>
    <div class="section2">
      <h1>Why Choose Us?</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="Adv">
          <img src="images/Screenshot 2022-11-05 192410.jpg" alt="" />
        </div>
        <div id="advText">
          <h3 class="commonClass">
            We store your records, prescriptions and lab reports over time. So,
            you dont need to worry about losing them anymore.
          </h3>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div id="advText">
            <h3 class="commonClass">
              Tracks your health progress till you completely recover and ends
              the constant struggle to know if you're getting better or not.
            </h3>
          </div>
          <div class="Adv">
            <img src="images/c4637699b9109e9325a7bbacf9907297.webp" alt="" id="abcimg">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="Adv">
            <img src="images/download.png" alt="" id="abc2img">
          </div>
          <div id="advText">
            <h3 class="commonClass">
              To top it off, You can try it for absolutely free under early
              access program, Join ASAP.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bgcontact">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +91 81 314 928 55</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" value="">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">CANCEL</button>
              <button class="app-form-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script></script>
</body>

</html>