<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title></title>
  <meta name="description" content="" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="/index.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap" />
</head>

<body>
  <!-- Web-3 Header Section -->
  <div class="header-div" style="background-color: #ffffff;">
    <img class="background-icon" alt="" src="images/background.svg" />
    <img class="saly-3d-illustration-pack-f" alt=""src="images/banner.jpg" />

    <button class="bittpn-small-button" style="position: absolute; top: 32px; left: 132px; background-color: #0047ab;">
      <div class="get-started-div"><a style="text-decoration: none;color:white; " href="/dashboard">Sign-in</a></div>
    </button>

    <div class="frame-div"></div>
    <div class="group-div">
      <div class="introducing-the-metaverse">
        <p class="introducing-p" style="color: #0047ab;">Soulbound NFT</p>
        <p class="the-metaverse-p" style="color: #0047ab;">for your EHR</p>
      </div>
      <div class="for-marketplace-sellers-lookin" style="color: purple;">
        Your Decentralized EHR (Electronic Health Records) on the Web3.
      </div>
      <div class="frame-div1">
        <div class="frame-div2">
          <img class="email-black-24dp-1-1" src="images/email-black-24dp-1-1.svg" />
          <div class="your-email-address" style="color: #333333;">Click To Register</div>
        </div>
        <button class="frame-button" style="background-color: #0047ab;">
          <div class="get-early-access"><a style="text-decoration: none; color: #ffffff;" href="/dashboard"> Get
              Started</a></div>
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <!-- Web-3 Features Section -->
  <div>
    <div class="intro-section" style="padding: 20px; text-align: center;">
      <h1 class="section2">What is Soulbound NFT?</h2>
        <p style="font-size: 18px; color: #333333; line-height: 1.6;">
          Soulbound NFT are a type of NFT that is bound to a particular account or user. This means that once the token has been assigned to a specific user, it cannot be transferred or traded like other cryptocurrency or NFT's. With Soulbound NFT, your health records are securely cryptographically linked to a unique digital token, which you solely own, manage and give access to other people to see.
        </p>
        <p style="font-size: 18px; color: #333333; line-height: 1.6;">
          This innovative technology ensures that your sensitive medical data remains private, tamper-proof, and accessible only to authorized individuals. By leveraging blockchain technology, Soulbound NFT provides an immutable and transparent record-keeping system, giving you complete transparency and control over your health information.
        </p>
        <p style="font-size: 18px; color: #333333; line-height: 1.6;">
          Say goodbye to traditional centralized health record systems and embrace the future of decentralized EHR with Soulbound NFT - where your data is truly owned by you. you can find more about them <a href="https://www.coindesk.com/learn/what-are-soulbound-tokens-the-non-transferrable-nft-explained/">here </a>.
        </p>
</div>
    <div class="section2">
      <h1 style="color: #0047ab;">Why Choose Soulbound EHR?</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="Adv">
          <img src="images/security.png" alt="" style="border-radius: 15px;" />
        </div>
        <div id="advText">
          <h3 class="title-text">Secure and Soulbound:</h3>
          <p class="subtitle-text">
            Your health records are cryptographically linked to your unique Soulbound token,
            ensuring unmatched privacy and ownership. Only you can decide who access your Soulbound token and for how much time.
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div id="advText">
            <h3 class="title-text">Efficient Medical Procedures:</h3>
            <p class="subtitle-text">
              Doctors and medical professionals can quickly access your comprehensive health records by scanning your Soulbound token's QR code. You can actively participate in managing your health data and share it with healthcare providers of your choice.
            </p>
          </div>
          <div class="Adv">
            <img src="images/qrCode.png" alt="" style="border-radius: 15px;" id="abcimg">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="Adv">
            <img src="images/integrity.png" alt="" style="border-radius: 15px;" >
          </div>
          <div id="advText">
            <h3 class="title-text">Enhanced Data Integrity:</h3>
              <p class="subtitle-text">
                The use of blockchain technology ensures data integrity, immutability, and transparency.
                This guarantees that your medical history remains tamper-proof and trustworthy.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Web-3 Contact Section -->
  <div class="bgcontact">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span style="color: #0047ab;">CONTACT</span>
            <span style="color: #0047ab;">US</span>
          </div>
          <div class="app-contact" style="color: #333333;">CONTACT INFO : +91 8239266373</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" value="">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
              <button type="submit" class="app-form-button" style="background-color: cornflowerblue; color: #ffffff;" onclick="window.location.href='mailto:siddhantkhariwal2012@gmail.com';">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Web-3 JavaScript (if required) -->
  <script></script>
</body>
</html>